body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
.filter-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 10px; /* Push everything 10px inside from left/right */
}

.filters-left {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    column-gap: 10px;
    align-items: center;
    margin-left: 10px; /* Moves filters right */
}
.filters-right {
    display: flex;
    align-items: center;
}

#sendEmailBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

#sendEmailBtn:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.sis-id-cell {
    padding-right: 20px;
}

.section-name-cell {
    padding-left: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}

.button-green {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.button-red {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
